main {
  color : white;
  font-size : 1.4em;
}

.box-container {
  display : flex;
  flex-direction : row;
}

.box {
  flex-direction : row;
  width : 30%;
  height : 50%;
  margin : 2px;
}

canvas {
  background-color : #191414;
}

#song-detail-title {
  font-size : 3em;
  color : #1db954;
}

#song-detail-artist {
  font-size : 2em;
  color : #1ed760;
}

#song-detail-prop {
  font-size : 1.2em;
}

#song-cover {
  width : 10rem;
  height : 10rem;
}

.track-name:hover {
  color : #1db954;
}

.track-name {
  color : #1ed760;
  text-decoration : none;
  font-size : 1.2em;
}

#track-title {
  font-size : 1.5em;
}

select,
input[type="text"],
input[type="number"] {
  font-size : 0.8em;
  width : 55%;
}

button {
  font-size : 0.8em;
  background-color : #1db954;
  color : white;
}